<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="25000" maxQueryString="5097151" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="checkout.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
